
@media screen and (max-width: 414px){
    .main .file{
        width:60%;
        margin-top: 50px;
    }
    .toolbar{
        flex-direction: column;
        width: 100%;
        font-size: 1.5rem;
    }
    .show-files{
        margin: 20px 0;
    }

    .main{
        margin: 0;
        width: 100%;
    }
    .menu{
         width: 60%;
        font-size: 1.5rem;
        transform: translateX(-250px);
    }
    .toggle-menu-label{
        align-self: flex-end;
        position: relative;
        left: 366px;
        top: 18px;
    }

    .menu:has( .menu-toggler:checked){
        transform: translateX(-1px)

    }
}

